# Xcode
.DS_Store
xcuserdata/
DerivedData/
build/
*.pbxuser
*.perspectivev3
*.xcworkspace/xcuserdata/
*.ipa

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.build/

# Other
*.swp
*.bak

*.mlpackage
Resources/Wav2Vec2_Phoneme.mlpackage
Resources/Wav2Vec2_Phoneme.mlpackage.zip.download/Wav2Vec2_Phoneme.mlpackage.zip
Resources/Wav2Vec2_Phoneme/Data/com.apple.CoreML/model.mlmodel
Resources/Wav2Vec2_Phoneme/Data/com.apple.CoreML/weights/weight.bin
Resources/Wav2Vec2_Phoneme/Manifest.json
